@model WebShop.Bo.Product

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>

<img id="details-img" src="@Url.Content(Model.ImageUrl)" />


<div>
    <a class="btn" id="cartButton"
       asp-controller="ShoppingCart"
       asp-action="AddToShoppingCart"
       asp-route-productId="@Model.ProductID">
        Add to cart
    </a>
    <a asp-action="List">Back to products</a>
</div>
