@using WebShop.Bo
@model IEnumerable<WebShop.Bo.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">@item.Title</div>
                    <div class="panel-body" style="margin-left: auto; margin-right: auto; width: 50%">
                        <img src="/images/@Html.DisplayFor(model => item.ImageUrl)" class="img-responsive" alt="Image">
                    </div>
                    <div class="panel-footer">
                        <div class="textinfo">
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            <p class="more">
                                <a href="" class="btn btn-default">Läs mer</a>
                            </p>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <h2 class="text-right">$@Html.DisplayFor(model => item.Price)</h2>
                        <button type="button" onclick="" class="btn btn-danger btn-block">Lägg till</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
