@model WebShop.Web.ViewModels.ShoppingCartViewModel

    <li>
        <a asp-controller="ShoppingCart" asp-action="Index">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                @Model.ShoppingCart.ShoppingCartItems.Count
                Total: @Model.ShoppingCart.GetShopppingCartTotal()
            </span>
        </a>
    </li>

