@model WebShop.Avarda.Api.Avarda.PaymentResponse

@{
    ViewData["Title"] = "Avarda";
}

<h2>Avarda</h2>
<div id="checkOutDiv"></div>

<script type="text/javascript">
    var options = {
        // ID of the <div> inside which to render the form
        divId: "checkOutDiv",
        // The Purchase ID obtained in the previous step
        purchaseId: "@Html.Raw(Model.PurchaseId)",
        // What to do once the result is available
        done: function (purchaseId) {
            window.location.href = "/Order/Done?purchaseId=" + purchaseId;
        },
        // Where to return if we have to redirect the customer out of your website temporarily
        callbackUrl: "https://my-shop.com/checkout.php?purchaseId=489ea341e23941089e6d0378c708512a&callback=1"
    }
    AvardaCheckOutClient.init(options);
</script>






